body {  /*Style body*/ 
	color:white;
	background-image: url("https://images.wallpaperscraft.com/image/english_bulldog_dog_muzzle_lying_110936_1920x1080.jpg");/*Bestämer bakgrunds bilen på sidorna*/
	
}
h1{ /* Style för Rubrik 1*/ 
	font-family:"arial"; /*Bestämer font*/
	font-size: 52px;/*Bestämer fontents storlek*/
	text-align: center;/*Sätter texten i mitten*/
	
}

h2{
	font-family:"arial";
	font-size: 40px;
}
nav { /* Style för Rubrik 1*/
	float: inherit; /*placerat ett element på höger eller vänster sida om containern*/
		
}
nav ul {/* Style för nav listan */
	list-style-type:none;/*Tar bort style på listan*/
	padding: 0;	/*lägger samma en justering på fyllnaden på alla kanter*/ 

}

nav li {/* Style för kolomunerna i nav*/
	display:inline-block;/*bestämmer hur ett element skall visas*/
	font-size:20px;
}  
nav a{
	
	text-decoration: none;/*tar bort dekoration från text*/
	color:white;/*Ändrar färgen på texten*/
	
}


main {
	 text-align: center;
}

.box {
	
	width:1910px;/*Bestämer bredd*/
	height:900px;/*Bestämer höjd*/
	right:150px;/*Flyttar boxen till höger*/
	left:600px;/*Flyttar boxen till höger*/
}

.white/*klass för bakgrunden*/ {
	background-color:white;/*Bestämer en bakgrunds färg*/ 
	
}
.info /*klass för ena informations textenvet att man kan göra det lättare genom att sätta dem i en gruppselektor */ {
	color:black;
}

.rubrik2/*En klass för rubrien vid informationen vet att man kan göra det lättare genom att sätta dem i en gruppselektor */ {
	color:black;
	font-size:20px;
}

.tabell/*styleing för*/{
	color:black;
	text-align: Right;
	
}
  
th:nth-child(1)/*psuedoklasselektor för tabellen
*/{
	text-align: center;
}

tr:nth-child(2), tr:nth-child(4) {
	background-color: white;	
}
td:nth-child(3) {
	text-align: left;
}
td:nth-child(2) {
	text-align: center;
}
tr:nth-child(3), tr:nth-child(5) {
	background-color: Black;
	color: white;
}
 
table {	
	width: 20%;
}
table, td, th/*gruppselektor*/{
	border:1px solid black;/*Sätter en gräns/ram runt tabellen*/  

	border-collapse:collapse; /*Gränsen mellan tabbelerna flytter ihop*/
}
caption {
	font-size: 20px;
	caption-side: top;/*Bestämmer vart rubriken på tabellen*/
	text-align: center;
	font-family: arial;
}
.link {
	text-decoration:none;
	color:lime;	
}
.colorslist {
	text-decoration:circle;
	color:black;
	text-align:left;
}
.listrubrik {
	color:black;
	text-align:left;
}
